*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e3;
}

#presentation{
    background-image: url(./assets/wallpaper.jpg);
    background-size: cover;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.hero-title{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 1.2rem;
}

.hero-title b{
    font-weight: 500;
    color: #FA3600;
}

.hero-link{
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
    padding: .5rem ;
    text-decoration: none;
    color: #ffffff;
    z-index: 1;
}

.hero-link:hover{
    color: #ffffff;
}

.hero-link::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #FA3600;
  transition: transform 300ms  ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.hero-link:hover::before, .hero-link:focus::before{
    transform: scaleX(1);
}

/*About Me*/

.aboutme-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.aboutme-title h2{
    border-bottom: #FA3600 solid;
}

.aboutme-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.aboutme-left img{
    width: 65%;
}

.aboutme-left h3{
    padding: 1rem;
}

.aboutme-left ul{
    list-style: none;
    font-size: 1.2rem;
    line-height: 2;
    padding-left: 0;
}
.aboutme-left ul li i{
    padding-right: .5rem;
}

.aboutme-left ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.aboutme-left ul li a:hover {
    text-decoration: none;
    color: #FA3600;
}

.aboutme-right{
    display: flex;
    align-items: center;
    padding: .5rem;
}

.aboutme-right p{
    text-align: justify;
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem;
}

/*Skills*/

.skills-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.skills-title h2{
    border-bottom: #FA3600 solid;
}

.skills p{
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem;
}

/*Proyectos*/

.projects-title{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.projects-row{
    padding-top: 10rem;
}

.projects-title h2{
    border-bottom: #FA3600 solid;
}

.project-description h3{
    padding-bottom: 2rem;
}

.project-description p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2;
    padding-bottom:  2rem;
}

.project-link{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2.5rem;
}

.project-link a{
    font-size: 1.1rem;
    font-weight: 500;
    padding: .5rem ;
    text-decoration: none;
    color: #ffffff;
}

.project-link a:hover{
    color: #FA3600;
}

.project-img img{
    width: 100%;
}


/*Contacto*/

.contact-title{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.contact-title h2{
    border-bottom: #FA3600 solid;
}

.contact-form{
    padding-bottom: 2rem;
}

.contact-items{
    display: flex;
    justify-content: center;
}

.contact-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.contact-links:hover{
    color: #FA3600;
}

.contact-icons{
    padding: 1rem;
    font-size: 2rem;
}

