*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e3;
}

#presentation{
    background-image: url(./assets/wallpaper.jpg);
    background-size: cover;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.hero-title{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero-title b{
    font-weight: 500;
    color: #FA3600;
}

.hero-link{
    font-size: 1.1rem;
    padding: .5rem ;
    text-decoration: none;
    color: #ffffff;
}

.aboutme-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.aboutme-title h2{
    border-bottom: #FA3600 solid;
}

.aboutme-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.aboutme-left img{
    width: 65%;
}

.aboutme-left h3{
    padding: 1rem;
}

.aboutme-left ul{
    font-size: 1.2rem;
    line-height: 2;
    list-style: none;
    padding-left: 0;
}

.aboutme-left ul li a {
    text-decoration: none;
    color: #ffffff;
}

.aboutme-right{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.aboutme-right p{
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2;
}

/*Skills*/

.skills-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.skills-title h2{
    border-bottom: #FA3600 solid;
}

.skills p{
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem;
}

/*Proyectos*/

.projects-title{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.projects-title h2{
    border-bottom: #FA3600 solid;
}

.project-description h3{
    padding-bottom: 2rem;
}

.project-description p{
    padding-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 2;
}

.project-link{
    display: flex;
    justify-content: space-evenly;
}

.project-link a{
    text-decoration: none;
    font-size: 1.1rem;
    padding: .5rem;
    color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 0.25rem;
}

.project-link a:hover{
    color:#FA3600;
    border: #FA3600 solid 1px;
}

.project-img img{
    width: 100%;
}


/*Contacto*/

.contact-title{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.contact-title h2{
    border-bottom: #FA3600 solid;
}

.contact-form{
    padding-bottom: 2rem;
}

.contact-items{
    display: flex;
    justify-content: center;
}

.contact-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.contact-links:hover{
    color: #ffffff;
}

.contact-icons{
    padding: 1rem;
    font-size: 2rem;
}

