*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

section{
    display: flex;
    background-color: #000000e3;
    justify-content: center;
    align-items: center;
}

#hero{
    background-image: url(./assets/wallpaper.jpg);
    background-size: cover;
    height: 100vh;
}

.hero-nav{
    height: 10%;
}

.nav-contact{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    
}

.hero-main{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title{
    font-weight: normal;
}

.hero-subtitle{
    font-weight: lighter;
}

b{
    font-weight: 500;
    color: #FA3600;
}

.hero-link{
    margin: 1rem;
    padding: .5rem 2rem;
    text-decoration: none;
    color: #ffffff;
}

.hero-link:hover{
    color: #ffffff;
}

.hero-link-about{
    border: 1px solid #ffffff;
}

.hero-link-project{
    background-color: #fa3600;
}

/*About Me*/

#aboutme{
    padding-top: 6rem;
}

.aboutme-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.aboutme-title h2{
    border-bottom: #FA3600 solid;
}

.aboutme-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.aboutme-left img{
    width: 70%;
}

.aboutme-ubication{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.aboutme-ubication p{
    font-size: 1.1rem;
}

.aboutme-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

/*Skills*/

#skills{
    padding-top: 6rem;
}

.skills-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.skills-title h2{
    border-bottom: #FA3600 solid;
}

/*Proyectos*/

#projects{
    padding-top: 6rem;
}

.projects-title{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 4rem 0;
}

.projects-row{
    padding-bottom: 5rem;
}

.projects-title h2{
    border-bottom: #FA3600 solid;
}

.project-description h3{
    padding-bottom: 2rem;
}

.project-description p{
    text-align: justify;
}

.project-links{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2.5rem;
}

.project-links a{
    text-decoration: none;
    padding: .5rem 2rem;
}

.project-links a:hover{
    color: #ffffff;
}

.link-github{
    color: #ffffff;
    border: solid 1px #ffffff;
}

.link-demo{
    width: 10rem;
    color: #ffffff;
    background-color: #fa3600;
}

.project-img img{
    width: 100%;
    filter: grayscale(100%);
}

.project-img img:hover{
    filter: none;
}

/*Contacto*/

#contact{
    padding: 6rem;
}

.contact-title{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.contact-title h2{
    border-bottom: #FA3600 solid;
}

.contact-items{
    display: flex;
    justify-content: center;
}

.contact-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.contact-links:hover{
    color: #ffffff;
}

.contact-icons{
    padding: 1rem;
    font-size: 2rem;
}